body{
    margin-top: 40px;
    left: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 4rem;
}
.pricing-plan:hover{
    box-shadow: 5px 5px 15px gray;
}
.pricing-plan{
    flex: 1;
    max-width: 300px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    text-align: center;
}
.plan-title{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(0, 187, 255);
}
.plan-features{
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan-features li{
    margin-bottom: 20px;
}
.plan-button{
    padding: 15px;
    background-color: rgb(223, 33, 0);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
@media (max-width:850px){
    .container{
        flex-direction: column;
        height: 100%;
    }
}